@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="stat"></div>
<div id="chart">
    <trading-vue :data="data"
                 :width="this.width"
                 :height="this.height"
                 :chart-config="{TB_ICON_BRI: 1.25}"
                 :color-back="colors.colorBack"
                 :color-grid="colors.colorGrid"
                 :color-text="colors.colorText"
                 :title-txt="this.data.data.title"
                 :toolbar="this.data.data.settings.toolbar"
                 :overlays="overlays">
    </trading-vue>
</div>

@section Scripts {
    <script src="./index.js" type="module"></script>
}

